<mat-card>
  <mat-toolbar color="primary">Detalhes do Curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="formField">
        <input matInput placeholder="Nome da despesa" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="formField">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"> </mat-option>
          <mat-option value="lazer">Lazer</mat-option>
          <mat-option value="contas a pagar">Contas a pagar</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="formField">
        <input matInput placeholder="Preço da despesa" formControlName="price" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      class="button"
      color="primary"
      (click)="onSubmit()"
    >
      Salvar
    </button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
